//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////       HOW TO:
//////////////////////////////////       txt--{modifier}
//////////////////////////////////        1. Avoids jumps on dynamic content
//////////////////////////////////        2. *Testing* http://caniuse.com/#feat=css-hyphens
//////////////////////////////////        3. *Testing* support edge 12+ ie11-
//////////////////////////////////


html {
    overflow-y: scroll;
    overflow-x: hidden;
    // 1
}

body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    // 3
    text-rendering: optimizeLegibility;
    font-family: Sans-serif;
      overflow-x: hidden;
}

hr {
  border-top:none;
  height:5px;
  width: 100%;
  display: block;
  // background: url("../media/hr.svg") no-repeat center center;
  margin-top:40px;
  margin-bottom: 40px;
}
