//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////       HOW TO: 
//////////////////////////////////       padding--{modifier}
//////////////////////////////////        1. Avoid overstyling color/border-color
//////////////////////////////////        
//////////////////////////////////
//////////////////////////////////




svg
{
    fill: currentColor;  // 1
}

 
.icon--svg
{
    color: #000;
    border: 2px solid currentColor;  // 1
}
.icon--svg:hover,
.icon--svg:focus
{
    color: #333;
  


}
.icon--svg:active
{
    color: #666;
}


svg * {
    transition: all 1.4s;    
}



