.tint {
  position: relative;

  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}

.tint:hover:before { background: none!important; }


.col-sm-4:nth-child(2) .tint:before { background: rgba(0,0,255, 0.5); }

.col-sm-4:nth-child(3) .tint:before  { background: rgba(255,0,0, 0.5); }
.col-sm-4:nth-child(4) .tint:before  { background: rgba(0,255,0, 0.5); }

.col-sm-4:nth-child(5) .tint:before { background: rgba(255,0,240, 0.5); }
.col-sm-4:nth-child(6) .tint:before  { background: rgba(255,102,0, 0.6); }
